In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('residencial.csv', sep=';')

In [5]:
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

### Selecione somente os imóveis classificados com tipo 'Apartamento'.

In [11]:
selecao_apt = df['Tipo'] == 'Apartamento'
n1 = df[selecao_apt].shape[0]
n1

19532

### Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [14]:
selecao_casa = (df['Tipo'] == 'Casa') | (df['Tipo'] == 'Casa de Condomínio') | (df['Tipo'] == 'Casa de Vila')
n2 = df[selecao_casa].shape[0]
n2

2212

### Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [16]:
selecao_area = (df['Area'] <= 100) & (df['Area'] >= 60)
n3 = df[selecao_area].shape[0]
n3

8719

### Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [17]:
selecao_quartos = (df['Quartos'] >= 4) & (df['Valor'] < 2000)
n4 = df[selecao_quartos].shape[0]
n4

41

In [19]:
print("Num de imóveis classificados com tipo 'Apartamento'. -> {}". format(n1))

print("Num de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'. -> {}". format(n2))

print("Num de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> {}". format(n3))

print("Num de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> {}". format(n4))

Num de imóveis classificados com tipo 'Apartamento'. -> 19532
Num de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'. -> 2212
Num de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> 8719
Num de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> 41