## Ex 5

In [2]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'],
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'],
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35],
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6],
                        'Aprovado': [True, False, False, True, True, True, False, False]},
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [3]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

## Ex 6

In [5]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'],
                       'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'],
                       'Idade': [15, 27, 56, 32, 42, 21, 19, 35],
                       'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6]},
                      columns = ['Nome', 'Idade', 'Sexo', 'Notas'])

In [6]:
alunos

     Nome  Idade Sexo  Notas
0     Ary     15    M    7.5
1   Cátia     27    F    2.5
2   Denis     56    M    5.0
3    Beto     32    M   10.0
4   Bruna     42    F    8.2
5    Dara     21    F    7.0
6  Carlos     19    M    6.0
7   Alice     35    F    5.6

In [8]:
alunos['Notas-Média(Notas)'] = alunos['Notas'].apply(lambda x: x - alunos['Notas'].mean())

In [9]:
alunos['Faixa Etária'] = alunos['Idade'].apply(lambda x: 'Menor que 20 anos' if x < 20
else ('Entre 20 e 40 anos' if (x >= 20 and x <= 40)
      else 'Maior que 40 anos'))

In [10]:
alunos

     Nome  Idade Sexo  Notas  Notas-Média(Notas)        Faixa Etária
0     Ary     15    M    7.5               1.025   Menor que 20 anos
1   Cátia     27    F    2.5              -3.975  Entre 20 e 40 anos
2   Denis     56    M    5.0              -1.475   Maior que 40 anos
3    Beto     32    M   10.0               3.525  Entre 20 e 40 anos
4   Bruna     42    F    8.2               1.725   Maior que 40 anos
5    Dara     21    F    7.0               0.525  Entre 20 e 40 anos
6  Carlos     19    M    6.0              -0.475   Menor que 20 anos
7   Alice     35    F    5.6              -0.875  Entre 20 e 40 anos